@font-face {
  font-family: "star_jedi_hollowregular";
  src: url("fonts/starjhol.woff2") format("woff2"),
    url("fonts/starjhol.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

#x-wing-heading {
  color: yellow;
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: none;
  font-family: "star_jedi_hollowregular", Arial, sans-serif;
  font-size: 4vh;

}

#component {
  color: white;
  position: absolute;
  font-family: "star_jedi_hollowregular", Arial, sans-serif;
  font-size: 2.5vh;
  bottom: 100px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: none;
}

#rebel {
  width: 70px;
  height: 70px;
  position: absolute;
  display: none;
  top: 30px;
  right: 50px;
}

#preLoader div{
  color: yellow;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 100;
}
