@font-face {
  font-family: "star_jedi_hollowregular";
  src: url("fonts/starjhol.woff2") format("woff2"),
    url("fonts/starjhol.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: "star_jedi_hollowregular", Arial, sans-serif;
}

#x-wing-heading {
  color: yellow;
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: none;
  font-size: 4vh;

}

#component {
  color: white;
  position: absolute;
  font-size: 2.5vh;
  bottom: 100px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: none;
}

#rebel {
  width: 70px;
  height: 70px;
  position: absolute;
  display: none;
  top: 30px;
  right: 50px;
}

#preLoader{
  display:inline;
  color: yellow;
text-align: center;
  width: 500px;
  height: 500px;
  font-size: 4vh;
  position: absolute;
  margin: 0 auto;
}

#preLoader h1{
  color: yellow;
  font-size: 4vh;
  display:inline-block;
}

#preLoader img{
  background-color: none;
  font-size: 4vh;
  display:inline-block;
}
